
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Titulo = "Configurações do Paciente";
}


<div class="container mt-4">
    <div class="row">
  
        <!-- Card: Central de Pacientes -->
        <div class="col-md-4 mb-4">
            <div class="card card-menu h-100 shadow-sm position-relative bg-light-blue">
                <div class="card-body text-center d-flex flex-column">
                    <!-- Ícone com degradê -->
                    <div class="gradient-icon mb-3">
                        <i class="fa fa-users"></i>
                    </div>

                    <h5 class="card-title">Central de Pacientes</h5>
                    <p class="card-description text-muted">
                        Gerencie os dados dos pacientes cadastrados no sistema.
                    </p>

                    <!-- Botão com degradê -->
                    <a href="@Url.Action("CentralPaciente", "Pacientes")"
                       class="btn btn-gradient mt-auto">
                        <i class="fa fa-chevron-right"></i>&nbsp;Acessar
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
 


